{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>YOUTUBE</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>

        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        <h1 id="title"> YOUTUBE
        </h1>
        <div class="content">

	<div id="left">
	<p>Channel title:</p>
	<p>{{ name }}</p>
	<p>Total views:</p>
	<p>{{ viewCount }}</p>
	<p>Total followers: </p>
	<p>{{ followers }}</p>

	</div>
        
	<div id="right">
	{% if error %}
<p>{{ error }}</p>
{%endif%}

{% for video in video_ids %}
    <p>Video № {{ forloop.counter }} ({{video.count}} views)</p>
	<p>
	<iframe width="480" height="360" src="https://www.youtube.com/embed/{{ video.id }}" frameborder="0" allowfullscreen></iframe>
	</p>
{% endfor %}

	</div>

<ul class="links">



</ul>
</div>
    </body>
</html>