{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cars</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="stylesheet" href="{% static 'css/cars/screen.css' %}" media="screen, projection"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://raw.githubusercontent.com/furf/jquery-ui-touch-punch/master/jquery.ui.touch-punch.min.js"></script>


    <script type="text/javascript">
        $(function() {
            var width = $("#first").attr("width");
            var height = $("#first").attr("height");
            z = width/height;
            $("#slider").slider({
            orientation: "horizontal",
            min: 240,
            max: 640,
            value: width,
            slide: function(event, ui) {
            y = Math.round(ui.value/z);
            $("#amount").val(ui.value);
            $("#amount2").val(y);
            $('.images').width(ui.value);
            $('.images').height(y);
            }
            });
            $("#amount").attr('value',width);
            $("#amount2").attr('value',height);
            });
    </script>
  
    </head>
    <body id="body" class="">
    <label for="amount">Width:</label>
    <input type="text" id="amount" value="" style="border:0; width:30px; color:#f6931f; font-weight:bold;" />
    <label for="amount2">Height:</label>
    <input type="text" id="amount2" value="" style="border:0; width:30px; color:#f6931f; font-weight:bold;" />

    <div id="slider" style="height:6px; width:220px; "></div>

    <div id="cars">
        {% for car in cars %}
            <script>
                $( function() {
                    $( "#dialog-{{ car.pk }}" ).dialog({
                        autoOpen: false,
                        show: {
                            effect: "clip",
                            duration: 1000
                        },
                        hide: {
                            effect: "clip",
                            duration: 1000
                        }
                    });

                } );
            </script>
        {% if forloop.counter == 1 %}

        <div class="illustrations">
            <a href="#" ondblclick='$("#dialog-{{ car.pk }}").dialog( "open");'><img id='first' class='images'src="{% static 'images/default.png' %}" width="640" height="480" realsrc="{{ MEDIA_URL }}{{ car.main_photo }}"></a>

        </div>
        {% else %}

        <div class="illustrations">
            <a href="#" ondblclick='$("#dialog-{{ car.pk }}").dialog( "open");'><img class='images'src="{% static 'images/default.png' %}" width="640" height="480" realsrc="{{ MEDIA_URL }}{{ car.main_photo }}"></a>

        </div>
        {% endif %}

        <div id="dialog-{{ car.pk }}" title="Basic dialog">
            <p>information</p>
        </div>
        {% if forloop.counter in br %}
            <br />
        {% endif %}
        {% endfor %}
    </div>

    <script>$('#cars').draggable();</script>
    </body>

  <script>
    function isVisible(elem) {

      var coords = elem.getBoundingClientRect();

      var windowHeight = document.documentElement.clientHeight;


      var topVisible = coords.top > 0 && coords.top < windowHeight;
      var bottomVisible = coords.bottom < windowHeight && coords.bottom > 0;

      return topVisible || bottomVisible;
    }

    function showVisible() {
      var imgs = document.getElementsByTagName('img');
      for (var i = 0; i < imgs.length; i++) {

        var img = imgs[i];

        var realsrc = img.getAttribute('realsrc');
        if (!realsrc) continue;

        if (isVisible(img)) {
          img.src = realsrc;
          img.setAttribute('realsrc', '');
        }
      }

    }

    window.document.getElementById("body").style.width = {{ count }}
    window.onscroll = showVisible;
    window.onmouseup = showVisible;
    showVisible();
  </script>
</html>
